{% extends 'base.html' %} {% block title%}Home{% endblock title%} {% block homeactive %} active {% endblock homeactive %} {% block body %}<br><br>
<div class="row">
    <div class="col-md-3">
        <div class="disscussion_position">
            <ul class="list-group">
                <li class="list-group-item bactive fw-bold" aria-current="true">Discussion</li>
                <li class="list-group-item">
                    <div class="text-muted"><i class="fa-solid fa-clock"></i> 1970-01-01 00:00:01</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sapiente neque sint vel, et pariatur aspernatur. Nihil quasi quis veniam accusantium. Accusamus, eligendi veritatis fugiat alias eos id ea beatae?
                </li>
                <li class="list-group-item">
                    <div class="text-muted"><i class="fa-solid fa-clock"></i> 1970-01-01 00:00:01</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sapiente neque sint vel, et pariatur aspernatur. Nihil quasi quis veniam accusantium. Accusamus, eligendi veritatis fugiat alias eos id ea beatae?
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div id="map"></div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="stats_positions">
            <ul class=" list-group ">
                <li class="list-group-item bactive fw-bold " aria-current="true ">Stats</li>
                <li class="list-group-item ">
                    <div class="row ">
                        <div class="col-sm-5 "><i class="fa-solid fa-map-pin "></i> No of Pins : </div>
                        <div class="col-sm-7 "><span class="badge rounded-pill bg-dark pin_badge_location ">50</span></div>
                    </div>
                </li>
                <li class="list-group-item ">
                    <div class="row ">
                        <div class="col-sm-5 "><i class="fa-solid fa-user "></i> No of Users : </div>
                        <div class="col-sm-7 "><span class="badge rounded-pill bg-dark user_badge_location ">70</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 ">
        <div class=" ">
            <ul class="list-group ">
                <li class="list-group-item bactive fw-bold " aria-current="true ">Informations</li>
                <li class="list-group-item ">
                    Select a Pin
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}